.aboutpage{
    height: 100vh;
    width: 100%;
    padding-top: 20px;
    /* padding: 20px ; */
    /* padding: 40px 50px; */
}

.aboutpage h1{
    font-size: 64px;
    font-weight: 700;
    padding-left: 33px;
    /* color: rgb(239,241,243); */
}
.aboutpage p{
    padding: 40px;
    font-family: 'Courier New', Courier, monospace;
}
 button{
    height: 40px ;
    width: 250px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 20px;
    color: orangered;
    margin-left: 33px;
   
    border: 2px solid orangered;
    /* padding: 10px; */
}
button:hover{
    transform: scale(1.01);
    background-color: antiquewhite;
}