/* Styling form and resume sections */

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: white;
}

form {
    margin: auto;
    background-color:rgb(239,241,243);
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    max-width: 600px;
}

h1 {
    text-align: center;
    color: black;
}

fieldset {
    /* border: 2px solid rgb(214,217,206); */
    border: 2px solid orangered;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgb(224, 224, 224);
}

legend {
    font-weight: bold;
    text-align: left;
    color: rgb(34, 29, 29);
}

label {
    display: block;
    margin-top: 10px;
    color: black;

}

input,textarea {
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 1px);
    /* border: 2px solid rgb(214,217,206); */
    border: 2px solid orangered;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display: block;
    width: 50%;
    border: 2px solid rgb(214,217,206);
    /* border: 2px solid orangered; */
    color: black;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    cursor: pointer;
    margin: 0 auto;
}

button :hover {
    color: orangered;
}

#resume-display {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid skyblue;
    border-radius: 8px;
    background-color: rgb(228, 242, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    /* display: flex;
    flex-direction: column;
    gap: 10px; */
}

#resume-display h2 {
    color: black;
    margin-top: 10px;
}

#resume-display  p{
    margin-top: 5px;
}
#resume-display h3 {
    color: black;
    margin-top: 10px;
}
